.about{
	width: 1030px;
	margin: 0 auto;
	margin-top: 100px;

	&__text{
		height: 200px;
		font-size: 14px;
		font-family: 'Noto Sans JP', sans-serif;
		letter-spacing: 0.05em;
		line-height: 2em;
		font-weight: bold;
	}

}
// end_of_about