background-color: black;
z-index: 990;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 29px;
transition: opacity .6s ease, visibility .6s ease;
visibility: hidden;
opacity: 0;