.contact{
	padding-top: 152px;
	max-width: 700px;
	margin:0 auto;

	.contact-form{
		margin-top: 69px;

		.contact-form-object{
			display: flex;
			flex-direction: column;
			margin-bottom: 22px;

			&__label{
				font-size: 16px;
				letter-spacing: 0.05em;
				line-height: (30/16)em;
			}

			&__input{
				border: 1px solid #141414;
			}

			&__textarea{
				border: 1px solid #141414;
			}
		}
	}
}