.service
{
	&__image{
		text-align: center;
	}

	%__image-text
	{
		display: flex;
		margin-top: 70px;

		%service-text__div
		{
			padding-top: 20px;
		}

		div h3{
			margin-top: 20px;
		}
	}

	&__image-text{
		@extend %__image-text;

		&--left{
			@extend %__image-text;

			div{
				margin-left: 70px;
			}

		}

		&--right{
			@extend %__image-text;
			flex-direction: row-reverse;

			div{
				margin-right: 70px;
			}
		}
	}
}

@media screen and (max-width:768px) {

	.service
	{

		&__image-text--left{
			flex-direction: column-reverse;
			width: 90%;
			margin: 0 auto;

			div{
				margin: 0;
			}
		}

		&__image-text--right{
			flex-direction: column-reverse;
			width: 90%;
			margin: 0 auto;

			div{
				margin: 0;
			}
		}

		&__image{

			img {
				width: 100%;
			}
		}
	}
}
