.service__div
{
	width: 1030px;
	margin: 0 auto;

	%service-image__div
	{
		display: flex;
		margin-top: 70px;

		%service-text__div
		{
			padding-top: 20px;

			.service-description
			{
				font-family: 'Noto Sans JP', sans-serif;
				font-size: 14px;
				font-weight: bold;
				line-height: 2em;
				letter-spacing: 0.05em;
			}
		}

		.service-text__div
		{
			@extend %service-text__div;

			&--right{
				@extend %service-text__div;
				margin-left: 20px;
			}

			&--left{
				@extend %service-text__div;
				margin-right: 20px;
			}
		}


	}

	.service-image__div{
		@extend %service-image__div;

		&--camera{
			@extend %service-image__div;

		}

		&--mobile-phone{
			@extend %service-image__div;
			flex-direction: row-reverse;

		}
	}

}
// end of  service
