$main_color:#1B1310;

.main-visual__div{
	height: 740px;
	background-image: url(../img/main-visual.png);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.main-copy__p{
		font-size: 50px;
		color: white;
		border: 2px solid white;
		padding: 33px 25px;
	}
}

.about__div{
	width: 1030px;
	margin: 0 auto;
	margin-top: 100px;

	.about-text__p{
		height: 200px;
		font-size: 14px;
		font-family: 'Noto Sans JP', sans-serif;
		letter-spacing: 0.05em;
		line-height: 2em;
		font-weight: bold;
	}

}
// end_of_about

.service__div{
	width: 1030px;
	margin: 0 auto;

	.service-image-textbox__div{
		display: flex;
		margin-top: 70px;

		.service-text{
			margin-left: 70px;

			.service-description{
				font-family: 'Noto Sans JP', sans-serif;
				font-size: 14px;
				font-weight: bold;
				line-height: 2em;
				letter-spacing: 0.05em;
			}
		}
	}
}

// end of  service
